.texto-articulo{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

.single-image{
    width: 100%;
    height: 50vh;
    display: block;
}

.single-image img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}